.login-bg-container {
  background-color: #000000;
  background-size: cover;
  height: 100vh;
}
.login-card-container {
  background-color: #202020;
  padding: 22px;
  border-radius: 10px;
  width: 35%;
}
.input-element {
  background-color: transparent !important;
}
.login-btn {
  background-color: #6366f1;
  color: white;
  border: none;
  width: 60%;
}
